h1 {
  margin: 1rem 0;
  padding: 0.5rem;
  font-weight: bolder;
  font-size: 150%;
}

table {
  margin: 1em auto;
  width: 90%;
}

thead tr {
  background: gray;
  color: white;
}

tbody tr:nth-child(2n-1):not(:only-child) {
  background: #f5f5f5;
  color: black;
}

tbody tr:hover:not(.x):not(.y) {
  background: #ddd;
  color: black;
}

th {
  padding: 0.5em;
  text-align: left;
}

tbody th {
  padding: 0;
}

td {
  padding: 0.5em;
  text-align: left;
}

tbody th a {
  display: block;
  padding: 0.5em;
}

code {
  font-size: 100%;
}

footer {
  margin-top: 1em;
  border-top: solid 0.1em gray;
  padding: 0.5em;
}