
Header unset Content-Script-Type

<Files "*.txtjs.header.*">
  Header set Content-Script-Type "text/javascript"
</Files>

<Files "*.appxjs.header.*">
  Header set Content-Script-Type "application/x-javascript"
</Files>

<Files "*.txtvbscript.header.*">
  Header set Content-Script-Type "text/vbscript"
</Files>

<Files "*.unknown.header.*">
  Header set Content-Script-Type "application/x-unknown-script"
</Files>
