Options +Indexes +ExecCGI +MultiViews
DirectoryIndex no-index-file
AddHandler cgi-script .cgi

AddType text/html .html
AddCharset iso-2022-jp .html

AddType application/xhtml+xml .xhtml
AddCharset iso-2022-jp .xhtml

AddType application/xhtml+xml .xhtml1
AddCharset iso-2022-jp .xhtml1

AddType application/xhtml+xml .xhtml2
AddCharset iso-2022-jp .xhtml2

AddType image/svg+xml .svg
AddCharset utf-8 .svg

AddType text/cache-manifest .m

AddCharset utf-8 .u8

AddCharset iso-2022-jp .jis

AddCharset euc-jp .euc

AddCharset shift_jis .sjis

AddType text/plain .txt
AddType text/xml .xml
AddType text/css .css
AddType text/javascript .js
AddType application/json .json

AddType image/png .png
AddType image/jpeg .jpeg .jpg
AddType image/gif .gif
AddType image/vnd.microsoft.icon .ico