AddType application/xml-external-parsed-entity .ent
AddType application/xml-dtd .dtd
AddType application/xml .xml

AddDefaultCharset iso-2022-jp
AddCharset iso-2022-jp .jis .xml .dtd .ent

IndexOptions +NameWidth=*

AddIcon /icons/text .xml
AddIcon /icons/quill .dtd
AddIcon /icons/patch .ent
AddIcon /icons/layout .css
