
Header unset Content-Style-Type

<Files "*.header.css.*">
  Header set Content-Style-Type "text/css"
</Files>

<Files "*.header.jss.*">
  Header set Content-Style-Type "text/jss"
</Files>

<Files "*.header.oeb.*">
  Header set Content-Style-Type "text/x-oeb1-css"
</Files>

<Files "*.header.unknown.*">
  Header set Content-Style-Type "application/x-unknown-style"
</Files>
