AddDefaultCharset Off

#<IfVersion >= 2.0.24>
#  RemoveCharset .html .xhtml .xml .js
#</IfVersion>

AddCharset shift_jis .sjis
AddCharset windows-31j .cp932
AddCharset iso-2022-jp .jis
AddCharset euc-jp .euc
AddCharset iso-8859-1 .iso88591
AddCharset windows-1252 .cp1252
AddCharset utf-8 .utf8

